[Unit]
Description=NSDev service
After=multi-user.target network.target
[Service]
Type=simple
ExecStart=nsdev-daemon
[Install]
WantedBy=multi-user.target
